*{
	font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
	line-height: 1.5;
	box-sizing: border-box;
}

body{
    margin-top:  0; 
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color: #ccc;
    color: #222;
}

header{
    width: 1000px;
    margin: auto;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #8c1d40;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}


div{
    width: 1000px;
    margin: auto;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

footer{
    width: 1000px;
    margin: auto;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #8c1d40;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 24px;
}

.grid-container{
     display: grid;
grid-template-columns: 1.5fr 5fr;
}

nav{
    background-color: #ffc627;
}

nav ul{
    padding-left: 0;
}

nav li{
    list-style-type: none;
}

nav link{
    display: block;
    background-color: #8c1d40;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin-top: 24px; 
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    background-color: #8c1d40; color:#fff ;}
main{
    background-color: #8c1d40;
    font-weight: bold; 
}
main link a:hover{
    background-color: #8c1d40; color:#fff ;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

p{ color: #444;}

q{ color: #444;
    font-style: italic;
}


footer h2{
    font-size: 24px;
    margin-top: 8px; 
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

address{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

footer li{
    color: #fff;
    display: inline-block;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-weight: normal;
}